*{
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
}
 
:root{
    font-size: 16px;
    --main-color: rgb(18, 203, 186);
}

html {
    scroll-behavior: smooth;
}

.main-style {
    font-size: 80px;
    color: rgb(237, 238, 239);
    font-weight: 800;
    line-height: 0px;
}

.section-title {
    text-align: center;
    margin-bottom: 100px;
}

.section-title p {
    margin-top: -43px;
    font-size: 17px;
}


header{
    width: 100%;
    /* background-color: aqua; */
}

.container{
    /* background-color: aliceblue; */
    margin-right: auto;
    padding: 10px  ;
    margin-left: auto;
}

header .menu{
    position: relative;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header .menu::before {
    content: "";
    position: absolute;
    width: var(--hover-area-width,0px);
    height: var(--hover-area-height,0px);
    right: 0;
}

header .menu:hover {
    --maxW: 100%;
    --header-ul-visb: visible ;
    --hover-area-width:100px;
    --hover-area-height:60px;
}


header .logo{
    width: 80px;
    height: 100%;
}

header ul {
    padding: 0px;
    position: absolute;
    width: 200px;
    right: 17px;
    top: 23px;
    list-style: none;
    z-index: 10;
    background-color: rgb(246, 246, 246);
    visibility: var(--header-ul-visb,hidden);
    --a-text-transition:0s;
}


header ul::before{
    content: "";
    position: absolute;
    right: 3px;
    top: -11px;
    border: 6px solid ;
    border-color:  transparent transparent rgb(246, 246, 246) transparent  ;

}

header ul li {
    display: flex;
    align-items: center;
    border: 1px #ddd ;
    border-bottom-style:solid ;
    cursor: pointer;
}

header ul li:hover{
    --list-item-move: 5px;
    --a-text-transition:0.4s;
}

header ul a {
    color: black;
    text-decoration: none;
    padding: 13px 16px;
    font-size: 16px;
    width: 100%;
    margin-left: var(--list-item-move);
    transition: var(--a-text-transition,0s);
}

header ul li:last-child {
    display: flex;
    align-items: center;
    border: none ;
}

header .menu-logo  {
    display: inline-block;
    width: 60px;
    height: fit-content;
    direction: rtl;
    padding: 8px 8px 18px 8px;
}

header .menu-logo span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    /* height between lines */
    margin-bottom: 2px;
}
/* first line */
header .menu-logo span:nth-child(3) {
    transform: translateY(6px);
    width: 100%;
    margin-bottom: 0px;
}

/* second line */
header .menu-logo span:nth-child(2) {
    transform: translateY(3px);
    height: 3px;
    width: var(--maxW,60%);
    transition: 0.5s;
}

/* third line */
header .menu-logo span:nth-child(1) {
    width: 100%;
}


/* Landing style */

.landing{
    height: calc(100vh - 63px);
    background-size: 100%;
    background-image: url(../imgs/pexels-pixabay-355747.jpg);
    background-size: cover;
    position: relative;
}

.landing .welcome-text{
    position: absolute;
    font-size: 25px;
    white-space: nowrap;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.landing .welcome-text h1 {
    color: var(--main-color);
    text-align: center;
    font-size: 60px;
}

/* ending Landing style */

/* start features section */
.features{
    padding: 40px 0px;
    background-color: rgb(237, 238, 239);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    color: var(--main-color);
    line-height: 30px;
    gap: 60px;
    text-align: center;
}

.features .container h2{
    color: black;
    text-transform: capitalize;
}

.features .container i {
    font-size: 50px;
}

.features .container p {
    width: 100%;
}

/* start services */
/* title class */ 
.services{
    margin: 50px 0px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 60px;
}

.services .dv .icon i{
    margin: 20px 20px;
    font-size: 30px;
    font-weight: 800;
}

@media (max-width: 630px) {
    .services .services-content {
        gap: 0px;
    }

    .services .dv{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .services .dv .icon i{
        margin: 0px;
    }

    .services .image img{
        display: none;
    }
}
.services .dv {
    display: flex;
    color: var(--main-color);
    margin-bottom: 10px;
}

.services .dv h3 {
    color: black;
}

.services .image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.services .image img {
    width: 276px;
    height: 275px;
}

.services .img-container{
    position: relative;
}

.services .img-container::before{
    content: "";
    position: absolute;
    width: 30%;
    height: 130%;
    background-color: rgb(43, 71, 84);
    right: -40px;
    top: -15%;
    z-index: -1;
}

/* start portfolio */

.portfolio {
    background-color: rgb(246, 246, 246);
    padding-bottom: 100px;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 60px;
}

.portfolio .column {
    background-color: white;
}

.portfolio .column .text {
    padding: 15px;
}

.portfolio .text h3 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}

.portfolio .text p {
   color: var(--main-color);
   font-size: 20px;
   line-height: 30px;
}

.portfolio img {
    width: 100%;
}

/* end portfolio */

/* start about */
.about {
    padding-bottom: 100px;
}

.about .about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .about .about-content {
        flex-direction: column;
    }
}

.about .about-content .image {
    position: relative;
}

@media (max-width: 992px){
    .about .about-content .image {
        margin: 0px auto 60px;
    }
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    height: 112%;
    width: 90px;
    top: -6%;
    left: -15px;
    background-color: rgb(236, 238, 239);
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    height: 80%;
    width: 150px;
    top: -30px;
    right: -186px;
    z-index: -1;
    border-left: 90px var(--main-color) solid;
    border-bottom: 90px var(--main-color) solid;
}

@media (max-width: 992px) {
    .about .about-content .image::before , 
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content img{
    width: 300px;
    height: 533px;
}

.about .about-content .text {
    flex-basis: calc(100% - 600px);
}

@media (max-width: 992px){
    .about .about-content .text{
        flex-basis: 100%;
        text-align: center;
    }
}

.about .about-content .text p:first-of-type {
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
}

.about .about-content .text hr {
    width: 60%;
    display: inline-block;
    margin: 40px 0px 10px;
}

.about .about-content .text p:last-of-type {
    font-size: 16px;
    color: var(--main-color);
    line-height: 2;
}
/* end about */

/* start contact */
.contact {
    background-color: rgb(246, 246, 246);
}

.contact .info {
    margin-bottom: 100px;
}
.contact .info > p , .contact .info > a {
    color: rgb(39, 71, 85);
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    letter-spacing: -2px;
    margin: 0px;
}

.contact .info > a {
    color: rgb(43, 158, 158);
    display: block;
    margin: 5px auto 0px;
    text-decoration: underline;
}

.contact .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}
/* end contact */

/* start footer */
footer {
    background-color: rgb(39, 71, 85);
}

footer p {
    text-align: center;
    text-transform: capitalize;
    color: white;
}

footer p span {
    color: rgb(43, 158, 158);
    font-weight: bold;
    font-size: 18px;
}


/* end footer */

/* Media Qeuries */
/* small Devices (small Phones) */
@media (max-width: 576px) {
    .landing .welcome-text h1 {
        font-size: 30px;
    }

    .landing .welcome-text{
        font-size: 15px;
        line-height: 1.6em;
    }
}

/* small Devices (Large Phones) */
@media (min-width: 576px) {
    .landing .welcome-text h1 {
        font-size: 30px;
    }

    .landing .welcome-text{
        font-size: 15px;
        line-height: 1.6em;
    }

}

/* Tablets */

@media (min-width: 768px) {
    .container {
        width: 720px;
        
    }
  }

/* Laptops */
@media (min-width: 992px) {
    .container {
      width: 960px;
    }
    /* .features .container {
        grid-template-columns: repeat(2,1fr);
    } */
  }
  
  /* Desktops */
  @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }

    .landing .welcome-text h1 {
        font-size: 80px;
    }

    .landing .welcome-text{
        font-size: 40px;
        line-height: 1.6em;
    }

    /* .features .container {
        grid-template-columns: repeat(3,1fr);
    } */
  }
  
  /* Large Screens / 4K */
  @media (min-width: 1400px) {
    .container {
      width: 1320px;
    }

    /* .features .container {
        grid-template-columns: repeat(3,1fr);
    } */
  }
  