  body{
    font-family: sans-serif;
  }
  .parent{
    background-color: white;
  }
  .Container{
    margin: auto;
    width: 600px;
    background-color: aliceblue;
  }
  
  @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
