  :root{
  --duration1: 0.5s;
  --mainColer: rgb(5, 198, 178);
  }
  *{
   box-sizing: border-box;
  }
  body{
    font-family: sans-serif;
  }
  /* Start header */
  header{
      background-color: #eee;
  }
  header img{
    width: 80px;

  }
.container{
  
  margin-right:auto;
  padding: 10px;
  margin-left: auto;
}
header .container{
  display: flex;
  justify-content: space-between;
}


header .links{
  margin: 10px;
   position: relative;
}
header .links .icon{
width: 30px;
display: flex;
flex-wrap: wrap;
justify-content: flex-end;

}
header .links .icon span{
  background-color: black;
  height: 2px;
  margin-bottom: 3.6px;
}

header .links .icon span:first-child{
  width: 100%;
}

header .links .icon span:nth-child(2){
  width: 60%;
  
}
header .links .icon span:last-child{
  width: 100%;
}

header .links:hover .icon span:nth-child(2){
  width: 100%;
  transition: var(--duration1);
 
}


header .links ul{
list-style: none;
margin: 0;
padding: 0;
background-color: gray;
position: absolute;
right: 0;
visibility: var(--vis1, hidden);
}

header .links ul li{
  padding: 10px;
}
header .links ul li a{
  text-decoration: none;
  color: black;
    transition: padding var(--duration1);
   
}
header .links ul li{
  width: 100px;
  border-style: solid;
  border-width: 5px;
  border-color: transparent  transparent transparent black;
  
}
header .links ul li a{
  padding-left: 0;
  transition: padding-left 0.5s;
}
header .links ul li a:hover{
  padding-left: 5px;
}

header .links:hover{
  --vis1: visible;
}
/* <!-- End header --> */
 /* <!-- Start Landing --> */
 .Landing{
  background-image: url(../Image/Mountain\ black\ and\ white.jpg);
  background-size: cover;
  height: calc(100vh - 36.8px);
  position: relative;
  z-index: -1;
 
 }
.Landing .Welcome-text{
  position: absolute;
  white-space: nowrap;
   font-weight: bold;
   line-height: 40px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
 .Landing .Welcome-text h1{
  text-align: center;
  color: rgb(5, 198, 178);
 }
  .Landing .Welcome-text p{
    text-align: center;
  }
   /* <!-- End Landing --> */
  /* <!-- Start Feature --> */
  .feature{
    margin: 20px 0;
  }
  .feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
    gap: 20px;
  } 
  .feature .container div{
    text-align: center;
  }
    .feature .container div i{
    color: var(--mainColer);
  }
    .feature .container div:hover{
      border-bottom: solid 10px black;
  }
    /* <!-- End Feature --> */







































  /* Small Devices (Large Phones) */
  @media (min-width: 576px) {
}

/* Tablets */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
      .Landing .Welcome-text{
    font-size: 30px;
  }


}

  /* Laptops */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
    .Landing .Welcome-text{
    font-size: 30px;
  }
}
/* Desktops*/
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .Landing .Welcome-text{
    font-size: 30px;
  }

}
/* Large Screens / 4K */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
